.compareContainer article.Card {
    border: 3px solid #40c8e0;
}

.comparisonCard {
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: space-between;
    border: none;
    height: 0px;
}

.firstComparison,
.averageComparison,
.secondComparison {
    height: 100px;
    padding: 30px;
    width: 180px;
}