article {
    border: 1px solid lightslategray;
    height: 300px;
    width: 200px;
    margin: 10px;
}

ul {
    margin: auto;
    padding-left: 70px;
}

h4 {
    text-align: center;
}

.highFive {
    color: blue;
}

.lowFive {
    color: orangered;
}

.cardContainer article:hover {
    box-shadow: 4px 4px 0px 0px rgba(22, 22, 87, 0.2);
}
.cardContainer article:active {
    border: 3px solid #40c8e0;
}