article {
    border: 1px solid lightslategray;
    height: 325px;
    width: 200px;
    margin: 10px;
    font-family: 'Francois One', sans-serif;
}

ul {
    margin: auto;
    padding-left: 60px;
    list-style-type: none;
}

h4 {
    margin: auto;
    margin-bottom: 20px;
    padding: 10px;
    text-align: center;
    background-color: rgb(74, 169, 241);
    color: rgb(232, 238, 241);
}

.highFive {
    color: blue;
}

.lowFive {
    color: orangered;
}

.cardContainer article:hover {
    box-shadow: 4px 4px 0px 0px rgba(22, 22, 87, 0.2);
}

.compareContainer.selected {
  border: 3px solid rgb(57, 185, 231);
}

.selected {
    border: 3px solid rgb(57, 185, 231);
}